<%= csrf_meta_tags %>
<% content_for :page_actions do %>
	<% if @order.state.downcase == 'canceled' %>
		<li><%= button_link_to t(:credit_note), spree.admin_order_path(@order, :pdf, :orderstate => @order.state.downcase ), :icon => 'icon-print' %></li>
	<% end %>
	<% if @order.completed_at? %>
		<li><%= button_link_to t(:invoice), spree.admin_order_path(@order, :pdf), :icon => 'icon-print' %></li>
	<% end %>
	<!--
  <li><%= event_links %></li>
  -->
  <% if @order.can_cancel?  %>
  <li>
    <%= button_link_to t(:cancel_order), fire_admin_order_url(@order.number, { :e => 'cancel' }), :icon => 'icon-trash', :data => { :confirm => "#{t(:are_you_sure)}?" } %>  
  </li>
  <% end %>
  <% if @order.can_resume?  %>
  <li>
    <%= button_link_to t(:resume), fire_admin_order_url(@order.number, { :e => 'resume' }), :icon => 'icon-resume', :data => { :confirm => "#{t(:are_you_sure)}?" } %>  
  </li>
  <% end %>
  <li><%= button_link_to t(:order_confirmation), resend_admin_order_url(@order), :method => :post, :icon => 'icon-email' %></li>
  <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
</div>

<%= render :partial => 'add_product' %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'form', :locals => { :order => @order } %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>