<% content_for :page_title do %>
  <%= t(:return_authorization) %> <%= @return_authorization.number %> (<%= t(@return_authorization.state.downcase) %>)
<% end %>

<% content_for :page_actions do %>
    <% if @return_authorization.can_receive? %>
     <li> <%= button_link_to t(:receive), fire_admin_order_return_authorization_url(@order, @return_authorization, :e => 'receive'), :method => :put, :data => { :confirm => t(:are_you_sure) } %></li>
    <% end %>
    <% if @return_authorization.can_cancel? %>
      <li><%= button_link_to t(:cancel), fire_admin_order_return_authorization_url(@order, @return_authorization, :e => 'cancel'), :method => :put, :data => { :confirm => t(:are_you_sure) } %></li>
    <% end %>
    <% if @return_authorization.received? %>
			<li><%= button_link_to t(:credit_note_print), object_url(@return_authorization, :pdf), :icon => 'icon-print' %></li>
		<% end %>
    <% if @return_authorization.received? %>
      <li><%= button_link_to t(:resend_credit_note), fire_admin_order_return_authorization_url(@order, @return_authorization, :e => 'resend'), :method => :put, :data => { :confirm => t(:are_you_sure) }, :icon => 'icon-email' %></li>
    <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Return Authorizations' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="form-buttons" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t('actions.cancel'), admin_order_return_authorizations_url(@order) %>
  </div>
<% end %>